.card {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 100%;
  max-width: 300px;
  background-color: #f9f9f9;
  border: 1px dashed #ccc;
  text-align: center;
  min-height: 50px;
  height: max-content;
}

.card:hover {
  border-color: #111;
}

.cardDragging {
  opacity: 0;
}
