.canvas {
  width: calc(100% - var(--sidebar-width));
  height: 100vh;
  background-color: rgb(255, 255, 255);
  margin-left: var(--sidebar-width);
  /* padding: 10px; */
  overflow-x: hidden;
  position: relative;
  /* transition: 400ms background linear; */
}

.canvasOuter {
  height: 100%;
  width: 100%;
}

.canvas svg {
  height: 100vh !important;
}

/* .componentOver {
  background-color: rgb(233, 233, 233);
} */
.canvas:focus {
  background-color: rgb(233, 233, 233);
}
